body{
    background-image: url("../Assets/cal.jpg");
    background-size: cover;
    text-align: center;
}

h1{
    color: black;
    text-align: center;
}

h4{
    text-align: center;
    font-size: xx-large;
}

#i1{
    height: 5vh;
    width: 20vh;
}


